*
!.gitignore

!lib
!lib/Shippo.php
!lib/Shippo
!lib/Shippo/*
!lib/Shippo/*/*
!lib/Shippo/*/*/*
!lib/Shippo/*/*/*/*

!app
!app/code
!app/code/community
!app/code/community/Buildateam
!app/code/community/Buildateam/Shippo
!app/code/community/Buildateam/Shippo/*
!app/code/community/Buildateam/Shippo/*/*
!app/code/community/Buildateam/Shippo/*/*/*
!app/code/community/Buildateam/Shippo/*/*/*/*
!app/code/community/Buildateam/Shippo/*/*/*/*/*
!app/code/community/Buildateam/Shippo/*/*/*/*/*/*
!app/code/community/Buildateam/Shippo/*/*/*/*/*/*/*

!app/design
!app/design/adminhtml
!app/design/adminhtml/default
!app/design/adminhtml/default/default
!app/design/adminhtml/default/default/layout
!app/design/adminhtml/default/default/layout/buildateam
!app/design/adminhtml/default/default/layout/buildateam/*
!app/design/adminhtml/default/default/layout/buildateam/*/*

!app/design/adminhtml/default/default/template
!app/design/adminhtml/default/default/template/buildateam
!app/design/adminhtml/default/default/template/buildateam/shippo
!app/design/adminhtml/default/default/template/buildateam/shippo/*
!app/design/adminhtml/default/default/template/buildateam/shippo/*/*
!app/design/adminhtml/default/default/template/buildateam/shippo/*/*/*
!app/design/adminhtml/default/default/template/buildateam/shippo/*/*/*/*

!app/etc
!app/etc/modules
!app/etc/modules/Buildateam_Shippo.xml
